body{
background-image: url("../../../../Munkafájlok/Márffy%20Mór%20Dominik/Hónapzáró%20(2020-szeptember)/kÃ©pek/big.png");
background-color: rgba(27, 89, 160, 0);
background-repeat: repeat;
}
h1{
color-adjust: red;

}